// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: _const.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 19, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text

// Versioning
$v1: "1";
$v2: "1";
$v3: "1";

// Constants
// Schemas https://coolors.co/0a090c-07393c-2c666e-90ddf0-dadada
$col1: #0a090c;
$col2: #07393c;
$col3: #2c666e;
$col4: #90ddf0;
$col5: #dadada;

// Titles
$header-title: #fff;

// Common
$white: #fff;
$black: #0a090c;
$light-grey: #dadada;
$light-light-grey: #e7e7e7;

// Media query breaks
$break-large: 1000px;
$break-medium: 800px;
$break-small: 400px;

// Sizing
$max-content-width: 1300px;
// Titles
$site-title-size: 40px;
$site-subtitle-size: 15px;
