// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: content.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 13, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text

article {
  padding: 15px 0;

  @media all and (max-width: $break-medium) {
    padding: 0px;
  }

  .entry-header {
    text-align: left;

    h1 {
      font-family: "Prata", serif;
      font-size: 40px;
      font-weight: 400;
    }

    h2 {
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
    }

    .post-thumbnail-container {
      height: 400px;
    }
  } // entru-header

  .entry-content {
    font-size: 15px;
    line-height: 1.7;
    padding: 15px 0 0;

    /*
    p:first-of-type::first-letter {
      font-size: 50px;
      line-height: 1px;
      margin: 30px 5px 0 0;
      float: left;
      text-transform: uppercase;
    }
    */

    h1 {
      font-size: 28px;
      font-weight: bold;
      padding: 10px 0;
    }

    h2 {
      padding: 10px 0;
      font-size: 26px;
      font-weight: bold;
      font-style: normal;
    }

    h3 {
      padding: 10px 0;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
    }

    h4 {
      padding: 10px 0;
      font-size: 20px;
      font-weight: 400;
      font-weight: bold;
    }

    h5 {
      padding: 10px 0;
      font-size: 18px;
      font-weight: 400;
      font-weight: bold;
    }
  } // entry-content
}
