// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: footer.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 19, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text
@import 'const';

.mastfooter {
  border-top: solid 3px $col1;
  padding: 18px 0;

  .copyright {
    font-size: 14px;
  }

  .disclaimer {
    font-size: 10px;
    padding: 5px 0 0;
  }
}
