// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: general.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 18, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text
@import "const";

body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
ul {
  border: 0;
  margin: 0;
}

body {
  font-family: "Libre Baskerville", serif;
}

a {
  color: $col3;

  &:hover {
    color: $col4;
  }
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
}

.sized-width-content {
  display: block;
  margin: auto;
  max-width: $max-content-width;
  overflow: auto;
  width: 95%;
}
// Generate cols classes
$colsizes: 33, 60, 25, 15, 100;
@each $i in $colsizes {
  .col#{$i} {
    min-width: #{$i + "%"};
    width: #{$i + "%"};
  }
}

.no-padding {
  padding: 0;
}

.col {
  padding: 10px;
}

.widget {
  padding: 10px 0 10px 0;
}

.post-thumbnail-container {
  margin: 20px 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
/**
 * Common Content
 */
article {
  h1 {
    font-family: "Prata", serif;
  }
}

.content {
  div {
    box-sizing: border-box;
    font-size: 14px;
    // Center col of content
    &.colc {
      @media all and (max-width: $break-medium) {
        width: 100%;
      }
      // Highlight the first article in flow
      article {
        h1 {
          font-size: 26px;
        }
      }
      article:first-of-type {
        font-size: 16px;
        h1 {
          font-size: 40px;
          font-weight: 400;

          a {
            color: inherit;
            font-size: inherit;
            text-decoration: inherit;
          }
        }

        h2 {
          font-size: 18px;
          font-style: italic;
          font-weight: 400;
        }

        .post-thumbnail-container {
          height: 300px;
        }
      }
      // article:first-of-type
      .post-thumbnail-container {
        height: 200px;
      }
    }
    // colc
    // Left col of content
    &.coll {
      @media all and (max-width: $break-medium) {
        display: none;
      }
    }
    // Right col of content
    &.colr {
      .post-thumbnail-container {
        height: 150px;
        width: 150px;
        float: right;
        margin: 10px 0 10px 10px;
      }
      @media all and (max-width: $break-medium) {
        display: none;
      }
    }

    h1 {
      font-size: 22px;
      font-weight: 400;
      padding-bottom: 10px;

      a {
        color: inherit;
        font-size: inherit;
        text-decoration: inherit;
      }
    }
    // h1
    h2 {
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
    }

    p {
      padding: 0 0 15px;
      word-wrap: break-word;
    }

    article {
      border-bottom: solid 1px $light-light-grey;
    }
  }
  // div
  .main-title {
    font-family: "Prata", serif;
    font-size: 40px;
    font-weight: 400;
  }

  .main-subtitle {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
  }

  .main-content {
    font-size: 16px;
  }
}

ul {
  &.inline {
    li {
      display: inline;
    }
  }
}
/**
 * Alignments and floatings
 */
.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.talignl {
  text-align: left;
}

.talignr {
  text-align: right;
}
