// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: header.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 09, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text
@import 'const';

.masthead {
  text-align: center;

  .top {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    border-bottom: 1px solid $light-grey;
    font-size: 14px;
    padding: 5px 0;
  }

  .center {
    border-bottom: 4px solid $black;
    padding: 25px 0;

    h1 {
      font-size: $site-title-size;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    h2 {
      font-size: $site-subtitle-size;
      font-style: italic;
      font-weight: 400;
    }
  }

  .bottom {
    background-color: $white;
    width: 95%;
    max-width: 1300px;
    display: inline-block;

    &-top {
      text-align: left;
      border-bottom: solid 2px;
      border-right: solid 1px;
      border-left: solid 1px;
      border-radius: 0px 0 4px 4px;
      padding: 0px 6px;
      background: #f2f2f2;
    }
  }

  .breaking-news {
    background-color: $light-light-grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
    text-align: left;

    .marquee {
      animation: marquee 70s linear infinite;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}
