// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: navs.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 19, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text
@import 'const';

header {
  nav {
    a{
      color: $black;
      text-decoration: none;
      &:hover {
        color: $col3;
      }
    }
  }

  nav.bottom-top  {
    font-family: 'Roboto', sans-serif;
    //font-weight: bold;

    ul {
      font-size: 14px;
      list-style: none;
      padding: 8px 0;
    }

    li {
      display: inline-block;
      padding: 0 7px;
    }

    a {
      //text-transform: uppercase;
    }
  }

  nav.bottom-bottom  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    ul {
      font-size: 14px;
      list-style: none;
      padding: 8px 0;
    }

    li {
      display: inline-block;
      padding: 0 7px;
    }

    a {
      text-transform: uppercase;
    }
  }
}
// Pagination
.navigation {
  padding: 10px 0;
  text-align: center;
}
