// @Author: Gabriele Proietti Mattia <gabry3795>
// @Date:   Feb 09, 2017
// @Email:  gabry.gabry@hotmail.it
// @Project: wpnewspaper
// @Filename: sidebar.scss
// @Last modified by:   gabry3795
// @Last modified time: Feb 09, 2017
// @License: GNU Public License 3.0
// @Copyright: See /LICENSE for full license text

.widget-area {
  .widgettitle {
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
  }

  li {
    list-style: none;
  }
}
